* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
}

a {
	text-decoration: none;
	color: #464646;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.heading {
	justify-content: space-around;
	padding: 2rem 0;
	font-weight: bold;
}

.heading .title {
	font-size: 2rem;
}

.links {
	padding-left: 1rem;
}

.links > a,.login > a {
	padding: 0 1rem;
}
.btn-primary {
	padding: .75rem 1.75rem;
	background-color: rgb(110, 232, 208);
	border-radius: 100px;
	font-weight: bold;
}
#signup {
	padding: .75rem 1.75rem;
	background-color: rgb(110, 232, 208);
	border-radius: 100px;
}

.main {
	height: 100%;
	padding: 2rem 0 4rem;
	justify-content: space-evenly;
}

.main #illustration {
	width: 30vw;
}

.content {
	flex-direction: column;
	justify-content: space-around;
	flex-basis: 40%;
}

.content .title {
	font-weight: bold;
	font-size: 2.5rem;
}

.content .subtitle {
	font-size: 1.25rem;
}
#get-started { align-self: flex-start; }

.booking {
	background-color: #F4F7FA;
	height: 20vh;
}

.input-box {
	width: 25%;
	padding: .75rem;
	border: 1px solid #b7bbbe;
	border-radius: 8px;
}

#book-demo {
	margin-left: 1rem;
	border-radius: 8px;
}

.choose-us {
	height: 90vh;
	flex-direction: column;
}

.description {
	flex-direction: column;
}

.choose-us .content {
	flex-direction: row;
	margin-top: 2rem;
}

.content .item-box {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #F4F7FA;
	flex-basis: 25%;
	padding: 2rem;
}

.description .title {
	font-weight: bold;
	font-size: 2.5rem;
}

.item-box .number {
	color:#58bda8;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.item-box .title {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

.subtitle {
	font-weight: normal;
	font-size: 1rem;
	color:#7c7e80;
    padding: 10px;
}

.about {
	background-color: #F4F7FA;
	height: 25vh;
	flex-basis: 50%;
	justify-content: space-around;
	align-items: center;
}

.about .title {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.about-us, .contact-us {
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.about-us {
	flex-basis: 50vh;
}

@media screen and (max-width: 800px) {
	.links { display: none; }
	.main { 
		flex-direction: column;
		padding: 0 2rem;
	}

	.main #illustration {
		width: 100%;
	}
	#get-started {
		align-self: center;
		margin: 1rem 0;
	}
	.booking {
		flex-direction: column;
	}
	.input-box {
		width: 90%;
		margin: 1rem 0;
	}
	.btn-primary {
		
		padding: .75rem 3rem;
	}
	#book-demo {
		margin: 0;
		width: 90%;
	}
	.choose-us {
		height: 100%;
		padding: 1rem;
	}
	.choose-us .content {
		flex-direction: column;
		margin: 1rem;
	}
	.content .item-box {
		margin-bottom: 1rem;
	}
}